<div class="container">
  <div class="row">
    <div class="align-left col-sm-4">
      <label for="upload" class="btn btn-primary btn-sm afu-select-btn">{{
        buttonLabel || "Selecione um arquivo"
      }}</label>
      <input
        type="file"
        id="upload"
        style="display: none"
        (change)="onChange($event)"
        title="Selecione um arquivo"
        name="files[]"
        [accept]="formatsAllowed"
        [attr.multiple]="multiple ? '' : null"
      />
    </div>
    <div class="align-left col-sm-8">
      <span *ngFor="let sf of allowedFiles; let i = index">
        <span class="text-primary">{{ sf.name }}</span>
        <strong>({{ convertSize(sf.size) }})</strong>&nbsp;&nbsp;
        <a role="button" (click)="removeFile(i, 'sf')"
          ><i class="fa fa-times"></i
        ></a>
      </span>
    </div>
  </div>
</div>
