<div style="margin:0;background:#f2f2f2">
    <table cellpadding="0" cellspacing="0" style="font-family:Arial,sans-serif;background:#fafafa" width="100%">
        <tbody>
            <tr>
                <td>
                    <div style="max-width:670px;margin:0 auto;padding:1% 0;">
                        <table style="border:1px solid #dbdbdb;background:#ffffff;height:50px; background-position: 390px -5px;"
                            cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="background:#00929c;height:10px;background-size:100%6px;background-position:50%100%;background-repeat: no-repeat;"></div>
                                        <img src="https://emad.icconsulting.com.br/api/templates/title_bar.jpg" style="display:block;height:244px;">
                                    </td> <!--179.190.29.92-->
                                </tr>
                                <tr>
                                    <td style="padding:30px 30px 5px 42px" valign="top">
                                        <b style="color:#4f5f6f;font-size:20px;font-family:Tahoma,sans-serif">Olá
                                            {{nome}},</b>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:3px 30px 70px 42px;" valign="top">
                                        <span style="color:#464E56;font-size:16px;margin-bottom:5px;">Você solicitou a
                                            redefinição da sua senha. <br>Utilize a senha abaixo para efetuar login no sistema. </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:3px 30px 30px 42px;" valign="top">
    
                                            <center>
                                                <span style="color:#4f5f6f;font-size:16px;margin-bottom:5px;">Sua nova senha é: </span><br/>
                                                <span style="color:#4f5f6f;font-size:18px;margin-bottom:5px;"><b>{{PASSWORD}}</b></span><br><br><br><br>    
                                            </center>

                                            <span style="color:#4f5f6f;font-size:16px;margin-bottom:5px;">
                                                Utilize a URL a seguir para acessar o painel do EMAD: <br/>
                                                <a href="https://emad.icconsulting.com.br" target="_blank">https://emad.icconsulting.com.br</a>
                                            </span>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 30px 0 42px" valign="top">
                                        <table cellpadding="0" cellspacing="0" width="100%" style="border-top:1px dotted #e1e2e3">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:15px 0">
                                                        <span style="color:#8a8a8a;font-size:11px">EMAD - Todos
                                                            os direitos reservados {{ano}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td style="padding-top:10px;border-top:1px #dfdfdf solid">
                                        <span style="color:#7a7a7a;font-size:11px;font-family:Tahoma,sans-serif">
                                            <!--todos os direitos reservados--></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>