<h4 class="mb-5 text-left">{{id!=null?'Editar '+label:'Nova '+label}}</h4>
<app-loader [loading]="loading"></app-loader>
<p *ngIf="message.length" class="alert alert-info sticky-top">{{message}}</p>
<div *ngIf="errors.length" class="alert alert-danger sticky-top"> 
  <div *ngFor="let error of errors" class="row">
    <div class="col-12 text-left">
      {{error.message}}
    </div>
  </div>
</div>

<div class="card mb-4" *ngIf="!object.id || (object.id && object.idPaciente)">
  <app-pesquisa-paciente (pacienteSelecionadoEvent)="pacienteSelecionado($event)" [idPaciente]="object.idPaciente" [pacienteNome]="object.nomePaciente"></app-pesquisa-paciente>
</div>

<form [formGroup]="form" (submit)="sendForm($event)">
  <div class="card mb-4">  
    <div class="card mb-12">
      <div class="card-header text-left">
        Receita
      </div>
      <div class="card-body text-left">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-xl-2 col-form-label text-left">
                Ano
              </label>
              <div class="col-xl-2">
                <input type="text" class="form-control" [(ngModel)]="object.ano" formControlName="ano" [readonly]="true"/>
              </div>
              <label class="col-xl-2 col-form-label text-left">
                Unidade
              </label>
              <div class="col-xl-2">
                <input type="text" class="form-control" [(ngModel)]="object.idEstabelecimento" formControlName="idEstabelecimento" [readonly]="true"/>
              </div>
              <label class="col-xl-2 col-form-label text-left">
                Número
              </label>
              <div class="col-xl-2">
                <input type="text" class="form-control" [(ngModel)]="object.numero" formControlName="numero" [readonly]="true"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-xl-2 col-form-label text-left">
                Data emissão <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                      <div class="input-group-text btn">
                          <i class="fa fa-calendar-alt"></i>
                      </div>
                  </div>
                  <input type="text" [(ngModel)]="object.dataEmissao" formControlName="dataEmissao" placeholder="dd/mm/aaaa" bsDatepicker  [readonly]="object.id"
                      [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" class="form-control" autocomplete="off">
                </div>
              </div>
              <label class="col-xl-2 col-form-label text-left">
                Origem <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-6">
                <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idSubgrupoOrigem" formControlName="idSubgrupoOrigem"
                  (change)="origemSelecionada($event)">
                  <option [value]="null">Selecione...</option>
                  <option *ngFor="let item of domains[0]?.idSubgrupoOrigem" [value]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row" *ngIf="object.idSubgrupoOrigem == 1">
              <label class="col-xl-2 col-form-label text-left">
                Cidade <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-10">                
                <input *ngIf="domains && object.idSubgrupoOrigem == 1" type="text" class="form-control" [readonly]="true"
                    [(ngModel)]="object.textoCidade" formControlName="textoCidade"/>              
              </div>  
            </div>
            <div class="form-group row" *ngIf="object.idSubgrupoOrigem > 1">
              <label class="col-xl-2 col-form-label text-left">
                Estado <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-2">
                <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idUf" formControlName="idUf"
                  (change)="loadDomainMunicipio($event)">
                  <option [value]="null">Selecione...</option>
                  <option *ngFor="let item of domains[0]?.idUf" [value]="item.id">{{item.nome}}</option>
                </select>
              </div>  
              <label class="col-xl-2 col-form-label text-left">
                Cidade <span class="text-danger font-weight-bold"> *</span>
              </label>              
              <div class="col-xl-6">
                <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idMunicipio"
                 formControlName="idMunicipio" >
                  <option [value]="null">Selecione...</option>
                  <option *ngFor="let item of domains[0]?.idMunicipio" [value]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-xl-2 col-form-label text-left">
                Profissional <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-10">
                <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idProfissional" 
                  formControlName="idProfissional">
                  <option [value]="null">Selecione...</option>
                  <option *ngFor="let item of domains[0]?.idProfissional" [value]="item.id">{{item.nome}}</option>
                </select>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>  
  </div> 

  <div class="card mb-4" *ngIf="object.id && object.situacao=='1'">
    <div class="card mb-12">
      <div class="card-header text-left">
        Prescrição Medicamentos
      </div>
      <div class="card-body text-left">
        <div class="row">
          <div class="col-12">
            <app-pesquisa-medicamento  (medicamentoSelecionadoEvent)="medicamentoSelecionado($event)" [idProfissional]="object.idProfissional" 
                                       [idMaterial]="itemReceita.idMaterial" [nomeMaterial]="itemReceita.nomeMaterial"></app-pesquisa-medicamento>          
          </div>          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              
            </div>         
          </div>          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-xl-2 col-form-label text-left">
                Qtd. prescrita <span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-xl-4">
                <input type="text"  class="form-control has-error" [(ngModel)]="itemReceita.qtdPrescrita" formControlName="qtdPrescrita"
                (change)="calculaQtdDispensar()"/>
              </div>  
              <label class="col-xl-2 col-form-label text-left">
                Tempo de tratamento <span class="text-danger font-weight-bold"> *</span>
              </label>              
              <div class="col-xl-4">
                <input type="text"  class="form-control has-error" [(ngModel)]="itemReceita.tempoTratamento" formControlName="tempoTratamento"
                (change)="calculaQtdDispensar()"/>
              </div>
            </div>         
          </div>          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-xl-2 col-form-label text-left">
                Qtd. dispensada anterior 
              </label>
              <div class="col-xl-4">
                <input type="text"  class="form-control has-error" [(ngModel)]="itemReceita.qtdDispAnterior" readonly formControlName="qtdDispAnterior"/>
              </div>  
              <label class="col-xl-2 col-form-label text-left">
                Qtd. a dispensar <span class="text-danger font-weight-bold"> *</span>
              </label>              
              <div class="col-xl-4">
                <input type="text"  class="form-control has-error" [(ngModel)]="itemReceita.qtdDispMes" formControlName="qtdDispMes"/>
              </div>
            </div>         
          </div>          
        </div>
        <div class="row">
          <div class="col-12 table-responsive">
            <div class="form-group row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Lote</th>
                    <th>Fabricante</th>
                    <th>Validade</th>
                    <th>Estoque</th>
                    <th>Qtd. a dispensar</th>   
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-left">
                    <td colspan="99" class="text-secondary"  *ngIf="!listaMaterialLote.length">
                      <i>{{object.id ? 'Não há resultados...' : 'Você precisa salvar o formulário primeiro para prescrever um medicamento!'}}</i>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaMaterialLote.length">
                    <tr class="text-left" *ngFor="let item of listaMaterialLote">
                      <td class="text-secondary">{{item.lote}}</td>
                      <td class="text-secondary">{{item.nomeFabricanteMaterial}}</td>
                      <td class="text-secondary">{{item.validade | date :'dd/MM/yyyy'}}</td>
                      <td class="text-secondary">{{item.quantidade}}</td>
                      <td class="text-secondary" class="text-center">
                        <input *ngIf="!item.vencido && !item.bloqueado" type="text"  class="form-control has-error" width="10%"
                          [(ngModel)]="item.qtdDispensar" formControlName="qtdDispensarLote"/>
                        <i *ngIf="item.vencido && item.bloqueado" class="fas fa-exclamation-circle" title="Lote Vencido e Bloqueado" style="color:red"></i>
                        <i *ngIf="item.vencido && !item.bloqueado" class="fas fa-exclamation-triangle" title="Lote Vencido"  style="color:red"></i>
                        <i *ngIf="!item.vencido && item.bloqueado" class="fas fa-exclamation" title="Lote Bloqueado"  style="color:red"></i>                        
                      </td>  
                    </tr>
                  </tbody>
              </table>
            </div>            
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group text-right">
              <button class="btn btn-primary" type="button" (click)="confirmaItemReceita()" [disabled]="toggleItemReceita()">
                <i class="fa fa-save"></i>Adicionar
              </button>  
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="card mb-4" *ngIf="object.id && object.situacao=='1'">
    <div class="card mb-12">
      <div class="card-header text-left">
        Medicamentos dispensados
      </div>
      <div class="card-body text-left">        
        <div class="row">
          <div class="col-12 table-responsive">
            <div class="form-group row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Material</th>
                    <th>Lote</th>
                    <th>Fabricante</th>
                    <th>Validade</th>                    
                    <th>Qtd. dispensada</th>                                        
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-left">
                    <td colspan="99" class="text-secondary"  *ngIf="!listaMaterialLoteDispensado.length">
                      <i>{{object.id ? 'Não há resultados...' : 'Você precisa salvar o formulário primeiro para prescrever um medicamento!'}}</i>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaMaterialLoteDispensado.length">
                    <tr class="text-left" *ngFor="let item of listaMaterialLoteDispensado">
                      <td class="text-secondary">{{item.nomeMaterial ? item.nomeMaterial : '' }}</td>
                      <td class="text-secondary">{{item.lote}}</td>
                      <td class="text-secondary">{{item.nomeFabricanteMaterial}}</td>                      
                      <td class="text-secondary">{{item.validade | date :'dd/MM/yyyy'}}</td>
                      <td class="text-secondary">{{item.qtdDispensar}}</td>
                      <td class="text-secondary text-right">
                        <a class="btn btn-link" [routerLink]="" *ngIf="object.situacao == 1">
                          <i class="fa fa-trash-alt"></i> Remover
                        </a>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>            
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="card mb-4" *ngIf="object.id && object.situacao != '1'">
    <div class="card mb-12">
      <div class="card-header text-left">
        Medicamentos dispensados
      </div>
      <div class="card-body text-left">        
        <div class="row">
          <div class="col-12 table-responsive">
            <div class="form-group row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Material</th>
                    <th>Últ. dispensação</th>
                    <th>Qtd. prescrita</th>
                    <th>Tempo tratamento</th>                    
                    <th>Qtd. dispensada anterior</th>                                        
                    <th>Qtd. a dispensar</th>  
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-left">
                    <td colspan="99" class="text-secondary"  *ngIf="!listaMaterialLoteDispensadoConfirmar.length">
                      <i>{{object.id ? 'Não há resultados...' : 'Você precisa salvar o formulário primeiro para prescrever um medicamento!'}}</i>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaMaterialLoteDispensadoConfirmar.length">
                    <tr class="text-left" *ngFor="let item of listaMaterialLoteDispensadoConfirmar">
                      <td class="text-secondary">{{item.nomeMaterial ? item.nomeMaterial : '' }}</td>
                      <td class="text-secondary">{{item.dataUltDisp | date :'dd/MM/yyyy'}}</td>
                      <td class="text-secondary">{{item.qtdPrescrita}}</td>                      
                      <td class="text-secondary">{{item.tempoTratamento}}</td>
                      <td class="text-secondary">{{item.qtdDispAnterior}}</td>
                      <td class="text-secondary">0</td>
                    </tr>
                  </tbody>
              </table>
            </div>            
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="form-group text-right">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid" *ngIf="object.idPaciente && object.situacao != 3">
      <i class="fa fa-save"></i> {{ !object.id ? 'Criar receita' : 'Salvar'}}
    </button>  
    <button (click)="back()" class="btn btn-default" type="button">
      <i class="fa fa-arrow-left"></i> Retornar
    </button>
  </div>
</form>

