<h4 class="mb-5 text-left">
  {{ id != null ? 'Editar ' + label : 'Adicionar ' + label }}
</h4>
<app-loader [loading]="loading"></app-loader>
<p *ngIf="message.length" class="alert alert-info sticky-top">{{ message }}</p>
<div *ngIf="errors.length" class="alert alert-danger sticky-top">
  <div *ngFor="let error of errors" class="row">
    <div class="col-12 text-left">
      {{ error.message }}
    </div>
  </div>
</div>

<form [formGroup]="form" (submit)="sendForm($event)">
  <div>
    <tabset>
      <tab>
        <ng-template tabHeading>
          <i class="fa fa-edit" title="Principal"></i> Principal
        </ng-template>
        <div class="card mb-4">
          <div class="card-body text-left">
            <div class="row">
              <div class="col-sm-3 text-center">
                <app-image-cropper-upload
                  *ngIf="loadPhoto"
                  [size]="150"
                  [id]="object.foto"
                  (saved)="photoSaved($event)"
                >
                </app-image-cropper-upload>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-2 col-form-label text-left">
                        Cartão SUS<span
                          *ngIf="susObrigatorio"
                          class="text-danger font-weight-bold"
                        >
                          *</span
                        >
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.cartaoSus"
                          formControlName="cartaoSus"
                        />
                        <input
                          type="hidden"
                          [(ngModel)]="object.id"
                          formControlName="id"
                        />
                      </div>
                      <label class="col-xl-2 col-form-label text-left">
                        ID SAP
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.idSap"
                          formControlName="idSap"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-2 col-form-label text-left">
                        Nome<span class="text-danger font-weight-bold"> *</span>
                      </label>
                      <div class="col-xl-10">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.nome"
                          formControlName="nome"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-2 col-form-label text-left">
                        Nome social
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.nomeSocial"
                          formControlName="nomeSocial"
                        />
                      </div>
                      <label class="col-xl-2 col-form-label text-left">
                        Apelido
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.apelido"
                          formControlName="apelido"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-xl-2 col-form-label text-left">
                        Nome da mãe<span class="text-danger font-weight-bold">
                          *</span
                        >
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.nomeMae"
                          formControlName="nomeMae"
                        />
                      </div>
                      <label class="col-xl-2 col-form-label text-left">
                        Nome do pai
                      </label>
                      <div class="col-xl-4">
                        <input
                          type="text"
                          class="form-control has-error"
                          [(ngModel)]="object.nomePai"
                          formControlName="nomePai"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Data de nascimento<span
                      class="text-danger font-weight-bold"
                    >
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text btn">
                          <i class="fa fa-calendar-alt"></i>
                        </div>
                      </div>
                      <input
                        type="text"
                        [(ngModel)]="object.dataNascimento"
                        formControlName="dataNascimento"
                        placeholder="dd/mm/aaaa"
                        bsDatepicker
                        [bsConfig]="{
                          containerClass: 'theme-dark-blue',
                          dateInputFormat: 'DD/MM/YYYY'
                        }"
                        class="form-control"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Sexo<span class="text-danger font-weight-bold"> *</span>
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.sexo"
                      formControlName="sexo"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.sexo"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Nacionalidade<span class="text-danger font-weight-bold">
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idNacionalidade"
                      formControlName="idNacionalidade"
                      (change)="carregaNaturalidade()"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idNacionalidade"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Naturalidade<span class="text-danger font-weight-bold">
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idNaturalidade"
                      formControlName="idNaturalidade"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idNaturalidade"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    CPF<span
                      *ngIf="cpfObrigatorio"
                      class="text-danger font-weight-bold"
                    >
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      mask="999.999.999-99"
                      class="form-control has-error"
                      [(ngModel)]="object.cpf"
                      formControlName="cpf"
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Ocupação
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.ocupacao"
                      formControlName="ocupacao"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Escolaridade<span class="text-danger font-weight-bold">
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.escolaridade"
                      formControlName="escolaridade"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.escolaridade"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Estabelecimento<span class="text-danger font-weight-bold">
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idEstabelecimentoCadastro"
                      (change)="onChangeEstabelecimento($event.target.value)"
                      formControlName="idEstabelecimentoCadastro"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="
                          let item of domains[0]?.idEstabelecimentoCadastro
                        "
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Raça/Cor<span class="text-danger font-weight-bold"> *</span>
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idRaca"
                      formControlName="idRaca"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idRaca"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Observações
                  </label>
                  <div class="col-xl-10">
                    <textarea
                      rows="4"
                      class="form-control has-error"
                      [(ngModel)]="object.observacao"
                      formControlName="observacao"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Reeducando
                  </label>
                  <div class="col-xl-10">
                    <div
                      class="custom-control custom-checkbox"
                      style="width: 25px"
                    >
                      <input
                        type="checkbox"
                        id="reeducando"
                        [(ngModel)]="object.reeducando"
                        formControlName="reeducando"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="reeducando"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Falecido
                  </label>
                  <div class="col-xl-10">
                    <div
                      class="custom-control custom-checkbox"
                      style="width: 25px"
                    >
                      <input
                        type="checkbox"
                        id="falecido"
                        [(ngModel)]="object.falecido"
                        formControlName="falecido"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="falecido"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Situação<span class="text-danger font-weight-bold"> *</span>
                  </label>
                  <div class="col-xl-10">
                    <div
                      class="custom-control custom-checkbox"
                      style="width: 25px"
                    >
                      <input
                        type="checkbox"
                        id="situacao"
                        [(ngModel)]="object.situacao"
                        formControlName="situacao"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="situacao"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Possui necessidades especiais
                  </label>
                  <div class="col-xl-10">
                    <div
                      class="custom-control custom-checkbox"
                      style="width: 25px"
                    >
                      <input
                        type="checkbox"
                        id="necessidadeEspeciais"
                        [(ngModel)]="object.necessidadeEspeciais"
                        formControlName="necessidadeEspeciais"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="necessidadeEspeciais"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="object.sexo == '2'" class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Gestante
                  </label>
                  <div class="col-xl-10">
                    <div
                      class="custom-control custom-checkbox"
                      style="width: 25px"
                    >
                      <input
                        type="checkbox"
                        id="gestante"
                        [(ngModel)]="object.gestante"
                        formControlName="gestante"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="gestante"
                      ></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="object.gestante == true" class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <div class="col-xl-12">
                    <div class="card mb-4">
                      <div class="card-header text-left">Dados da Gestação</div>
                      <div class="card-body text-left">
                        <div class="row">
                          <div class="col-xl-12">
                            <div class="form-group row">
                              <label class="col-xl-2 col-form-label text-left">
                                Cód aleita. materno<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <select
                                  *ngIf="domains"
                                  class="custom-select d-block w-100"
                                  [(ngModel)]="object.aleitamentoMaterno"
                                  formControlName="aleitamentoMaterno"
                                >
                                  <option [value]="">Selecione...</option>
                                  <option
                                    *ngFor="
                                      let item of domains[0]?.aleitamentoMaterno
                                    "
                                    [value]="item.id"
                                  >
                                    {{ item.nome }}
                                  </option>
                                </select>
                              </div>
                              <label class="col-xl-2 col-form-label text-left">
                                Dt. Ult. Menstruação<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text btn">
                                      <i class="fa fa-calendar-alt"></i>
                                    </div>
                                  </div>
                                  <input
                                    type="text"
                                    [(ngModel)]="object.dumDaGestante"
                                    formControlName="dumDaGestante"
                                    placeholder="dd/mm/aaaa"
                                    bsDatepicker
                                    [bsConfig]="{
                                      containerClass: 'theme-dark-blue',
                                      dateInputFormat: 'DD/MM/YYYY'
                                    }"
                                    class="form-control"
                                    autocomplete="off"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xl-12">
                            <div class="form-group row">
                              <label class="col-xl-2 col-form-label text-left">
                                Idade Gest. em semanas<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <input
                                  type="number"
                                  onKeyDown=""
                                  min="1"
                                  max="42"
                                  class="form-control has-error"
                                  [(ngModel)]="object.idadeGestacional"
                                  formControlName="idadeGestacional"
                                />
                              </div>
                              <label class="col-xl-2 col-form-label text-left">
                                Gravidez Planejada<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <div
                                  class="custom-control custom-checkbox"
                                  style="width: 25px"
                                >
                                  <input
                                    type="checkbox"
                                    id="stGravidezPlanejada"
                                    [(ngModel)]="object.stGravidezPlanejada"
                                    formControlName="stGravidezPlanejada"
                                    class="custom-control-input"
                                  />
                                  <label
                                    class="custom-control-label"
                                    for="stGravidezPlanejada"
                                  ></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xl-12">
                            <div class="form-group row">
                              <label class="col-xl-2 col-form-label text-left">
                                Núm. de gestações<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <input
                                  type="number"
                                  onKeyDown=""
                                  min="1"
                                  max="999"
                                  class="form-control has-error"
                                  [(ngModel)]="object.nuGestasPrevias"
                                  formControlName="nuGestasPrevias"
                                />
                              </div>
                              <label class="col-xl-2 col-form-label text-left">
                                Núm. de Partos<span
                                  class="text-danger font-weight-bold"
                                >
                                  *</span
                                >
                              </label>
                              <div class="col-xl-4">
                                <input
                                  type="number"
                                  onKeyDown=""
                                  min="1"
                                  max="999"
                                  class="form-control has-error"
                                  [(ngModel)]="object.nuPartos"
                                  formControlName="nuPartos"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i class="fa fa-user" title="Principal"></i> Dados pessoais
        </ng-template>
        <div class="card mb-4">
          <div class="card-body text-left">
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left"> RG </label>
                  <div class="col-xl-10">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.rg"
                      formControlName="rg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Data de emissão
                  </label>
                  <div class="col-xl-4">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text btn">
                          <i class="fa fa-calendar-alt"></i>
                        </div>
                      </div>
                      <input
                        type="text"
                        [(ngModel)]="object.dataEmissao"
                        formControlName="dataEmissao"
                        placeholder="dd/mm/aaaa"
                        bsDatepicker
                        [bsConfig]="{
                          containerClass: 'theme-dark-blue',
                          dateInputFormat: 'DD/MM/YYYY'
                        }"
                        class="form-control"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Orgão emissor
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.orgaoEmissor"
                      formControlName="orgaoEmissor"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Endereço
                  </label>
                  <div class="col-xl-6">
                    <input
                      type="text"
                      id="logradouro"
                      name="logradouro"
                      clearIfNotMatch="true"
                      formControlName="logradouro"
                      [(ngModel)]="object.logradouro"
                      class="form-control has-error"
                      autocomplete="off"
                      #addresstext
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Número
                  </label>
                  <div class="col-xl-2">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.numero"
                      formControlName="numero"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Latitude
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.latitude"
                      formControlName="latitude"
                      readonly
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Longitude
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.longitude"
                      formControlName="longitude"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Complemento
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.complemento"
                      formControlName="complemento"
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Bairro
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.bairro"
                      formControlName="bairro"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Estado<span class="text-danger font-weight-bold"> *</span>
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idUf"
                      formControlName="idUf"
                      (change)="carregaMunicipios()"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idUf"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Município<span class="text-danger font-weight-bold">
                      *</span
                    >
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idMunicipio"
                      formControlName="idMunicipio"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idMunicipio"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left"> CEP </label>
                  <div class="col-xl-10">
                    <input
                      type="text"
                      mask="99999-999"
                      class="form-control has-error"
                      [(ngModel)]="object.cep"
                      formControlName="cep"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Telefone residencial
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      mask="(99) 9999-9999"
                      class="form-control has-error"
                      [(ngModel)]="object.foneResidencial"
                      formControlName="foneResidencial"
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Telefone celular
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      mask="(99) 99999-9999"
                      class="form-control has-error"
                      [(ngModel)]="object.foneCelular"
                      formControlName="foneCelular"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Telefone de contato
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      mask="(99) 99999-9999"
                      class="form-control has-error"
                      [(ngModel)]="object.foneContato"
                      formControlName="foneContato"
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Contato
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.contato"
                      formControlName="contato"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    E-mail
                  </label>
                  <div class="col-xl-10">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.email"
                      formControlName="email"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i class="fa fa-user-cog" title="Principal"></i> Características
        </ng-template>
        <div class="card mb-4">
          <div class="card-body text-left">
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Modalidade
                  </label>
                  <div class="col-xl-10">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idModalidade"
                      formControlName="idModalidade"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idModalidade"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Tipo sanguíneo
                  </label>
                  <div class="col-xl-4">
                    <select
                      *ngIf="domains"
                      class="custom-select d-block w-100"
                      [(ngModel)]="object.idTipoSanguineo"
                      formControlName="idTipoSanguineo"
                    >
                      <option [value]="">Selecione...</option>
                      <option
                        *ngFor="let item of domains[0]?.idTipoSanguineo"
                        [value]="item.id"
                      >
                        {{ item.nome }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Número prontuário
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.numeroProntuario"
                      formControlName="numeroProntuario"
                    />
                  </div>
                  <label class="col-xl-2 col-form-label text-left">
                    Número prontuário Cnes
                  </label>
                  <div class="col-xl-4">
                    <input
                      type="text"
                      class="form-control has-error"
                      [(ngModel)]="object.numeroProntuarioCnes"
                      formControlName="numeroProntuarioCnes"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    Grupo de atenção continuada
                  </label>
                  <div class="col-xl-10">
                    <ng-multiselect-dropdown
                      *ngIf="domains && domains.length"
                      formControlName="gruposAtencaoContinuada"
                      style="
                        border-color: #ced4da;
                        background: #fff;
                        width: 100%;
                      "
                      [placeholder]="'Selecionar itens'"
                      [data]="domains[0].gruposAtencaoContinuada"
                      [(ngModel)]="object.gruposAtencaoContinuada"
                      [settings]="dropdownSettings"
                    >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i class="fa fa-medkit" title="Principal"></i> Comorbidades
        </ng-template>
        <div class="card mb-4">
          <div class="card-body text-left">
            <div class="row">
              <div class="col-xl-12">
                <div class="form-group row">
                  <label class="col-xl-2 col-form-label text-left">
                    História progressa/familiar
                  </label>
                  <div class="col-xl-10">
                    <textarea
                      rows="7"
                      class="form-control has-error"
                      [(ngModel)]="object.historiaProgressaFamiliar"
                      formControlName="historiaProgressaFamiliar"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header text-left">Hipótese diagnosticada</div>
          <div class="card-body text-left">
            <div class="row">
              <div class="col-12 mb-3">
                <button
                  type="button"
                  class="btn btn-primary float-left mr-2"
                  (click)="openHipotese(contentHipotese)"
                >
                  <i class="fa fa-plus-circle"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-default float-left"
                  (click)="findHipotesePorPaciente()"
                >
                  <i class="fa fa-sync-alt"></i>
                </button>
              </div>
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Diagnóstico</th>
                      <th>CID 10</th>
                      <th>Data</th>
                      <th>Atendimento</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!allItemsHipotese.length">
                    <tr class="text-left">
                      <td colspan="99" class="text-secondary">
                        <i>Não há resultados...</i>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="allItemsHipotese.length">
                    <tr class="text-left" *ngFor="let item of allItemsHipotese">
                      <td class="text-secondary">{{ item.codigo }}</td>
                      <td class="text-secondary">{{ item.nome }}</td>
                      <td class="text-secondary">{{ item.cid_10 }}</td>
                      <td class="text-secondary">
                        {{ item.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}
                        {{ item.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}
                      </td>
                      <td class="text-secondary">
                        <a
                          class="btn btn-link"
                          *ngIf="item.idAtendimento"
                          [routerLink]=""
                          (click)="visualizaAtendimentos(item.idAtendimento)"
                        >
                          <i class="fa fa-file-medical-alt"></i> Visualizar
                          atendimento
                        </a>
                      </td>
                      <td class="text-secondary text-right">
                        <a
                          class="btn btn-link"
                          [routerLink]=""
                          (click)="removeHipotese(item)"
                        >
                          <i class="fa fa-trash-alt"></i> Remover
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i class="fa fa-calendar" title="Principal"></i> Agenda
        </ng-template>
        <div class="card mb-4">
          <div class="card-body text-left">
            <div class="row"></div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="form-group text-right">
    <button (click)="back()" class="btn btn-default" type="button">
      <i class="fa fa-arrow-left"></i> Retornar
    </button>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      <i class="fa fa-save"></i> {{ !object.id ? 'Salvar' : 'Atualizar' }}
    </button>
  </div>
</form>

<ng-template #contentHipotese>
  <div class="modal-header">
    <h4 class="modal-title">Hipótese diagnóstica</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="errors.length" class="alert alert-danger">
      <div *ngFor="let error of errors" class="row">
        <div class="col-12 text-left">
          {{ error.message }}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xl-4 col-sm-12 col-form-label text-left">
        Nome da hipótese:
      </label>
      <div class="col-xl-8 col-sm-12">
        <input
          type="text"
          class="form-control has-error"
          [(ngModel)]="hipoteseDiagnostica.nome"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xl-4 col-sm-12 col-form-label text-left">
        CID 10:
      </label>
      <div class="col-xl-8 col-sm-12">
        <input
          type="text"
          class="form-control has-error"
          [(ngModel)]="hipoteseDiagnostica.cid_10"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <button
          [routerLink]=""
          class="btn btn-primary float-right"
          (click)="pesquisaHipoteseDiagnostica()"
        >
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin text-left">
            <i class="fa fa-spinner"></i>
          </i>
          <i *ngIf="!loading" class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="text-left">
              <th></th>
              <th>Código</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody
            *ngFor="
              let item of allItemsPesquisaHipoteseDiagnostica;
              let index = index;
              let odd = odd;
              let even = even
            "
          >
            <tr class="text-left" [ngClass]="{ odd: odd, even: even }">
              <td class="text-secondary">
                <div class="custom-control custom-radio float-left">
                  <input
                    type="radio"
                    (change)="selecionaHipoteseDiagnostica(item)"
                    class="custom-control-input"
                    id="{{ item.id }}"
                    name="radio-item"
                  />
                  <label class="custom-control-label" for="{{ item.id }}"
                    >&nbsp;</label
                  >
                </div>
              </td>
              <td class="text-secondary">{{ item.cid_10 }}</td>
              <td class="text-secondary">{{ item.nome }}</td>
            </tr>
          </tbody>
          <tbody
            *ngIf="
              !allItemsPesquisaHipoteseDiagnostica ||
              allItemsPesquisaHipoteseDiagnostica.length == 0
            "
          >
            <tr class="text-left">
              <td colspan="99" class="text-secondary">
                <i>Não há resultados...</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mb-4">
      <div
        *ngIf="
          allItemsPesquisaHipoteseDiagnostica &&
          allItemsPesquisaHipoteseDiagnostica.length
        "
        class="text text-secondary col-md-12 pr-0 mx-auto"
      >
        <i>
          Exibindo
          {{
            paging.offset === totalPages - 1
              ? paging.total
              : (paging.offset + 1) * paging.limit
          }}
          de
          {{ paging.total }}
          resultado(s).
        </i>
      </div>
    </div>
    <div class="row mb-2 mt-4">
      <ul
        *ngIf="
          allItemsPesquisaHipoteseDiagnostica &&
          allItemsPesquisaHipoteseDiagnostica.length
        "
        class="pagination mx-auto"
      >
        <li class="page-item" [ngClass]="{ disabled: paging.offset === 0 }">
          <a class="page-link" (click)="setPagePaginedHipotese(0)">
            <i class="fas fa-angle-double-left"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: paging.offset === 0 }">
          <a
            class="page-link"
            (click)="setPagePaginedHipotese(paging.offset - 1)"
          >
            <i class="fas fa-angle-left"></i>
          </a>
        </li>
        <li>
          <select
            (change)="loadQuantityPerPagePaginationHipotese($event, 'hipotese')"
            class="custom-select d-block w-100"
            style="border: 1px solid #dee2e6"
          >
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: paging.offset === totalPages - 1 }"
        >
          <a
            class="page-link"
            (click)="setPagePaginedHipotese(paging.offset + 1)"
          >
            <i class="fas fa-angle-right"></i>
          </a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: paging.offset === totalPages - 1 }"
        >
          <a class="page-link" (click)="setPagePaginedHipotese(totalPages - 1)">
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="form-group row text-right">
      <div class="col-12">
        <button
          class="btn btn-primary mr-2"
          type="button"
          [disabled]="disableHipoteseButton()"
          (click)="saveHipotese()"
        >
          <i class="fa fa-plus-circle"></i> Adicionar
        </button>
        <button class="btn btn-default" (click)="close()" type="button">
          <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
</ng-template>
