<h4 class="mb-5 text-left">Campos permitidos para especialidade do profissional</h4>

<app-loader [loading]="loading"></app-loader>

<p *ngIf="message.length" class="alert alert-info">{{message}}</p>
<div *ngIf="errors.length" class="alert alert-danger">
    <div *ngFor="let error of errors" class="row">
        <div class="col-12 text-left">
            {{error.message}}
        </div>
    </div>
</div>

<form [formGroup]="form"> 
    <div class="form-group row">
        <label class="col-xl-2 col-form-label text-left">
            Especialidade<span class="text-danger font-weight-bold"></span>
        </label>
        <div class="col-xl-10">
            <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idEspecialidade" formControlName="idEspecialidade" 
            (change)="carregaEntidadeCampoPorEspecialidade()">
                <option [value]="null">Selecione...</option>
                <option *ngFor="let domain of domains[0]?.idEspecialidade" value="{{domain.id}}">{{domain.nome}}
                </option>
            </select>
        </div>
    </div>

    <div class="card mb-4" *ngIf="object.idEspecialidade">
        <div class="card-header text-left">
          Campos permitidos
        </div>
        <div class="card-body text-left">    
          <div class="row">
            <div class="col-12 mb-3">
              <button type="button" class="btn btn-primary float-left mr-2"
                (click)="openEntidadeCampo(contentEntidadeCampo)">
                <i class="fa fa-plus-circle"></i>
              </button>    
              <button type="button" class="btn btn-default float-left" (click)="carregaEntidadeCampoPorEspecialidade()">
                <i class="fa fa-sync-alt"></i>
              </button>
            </div>
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Entidade</th>
                    <th>Descrição do campo</th>
                    <th>Nome do campo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="allItemsEntidadeCampo.length">
                  <tr class="text-left" *ngFor="let item of allItemsEntidadeCampo">
                    <td class="text-secondary">{{item.nomeEntidade}}</td>
                    <td class="text-secondary">{{item.descricaoCampo}}</td>
                    <td class="text-secondary">{{item.nomeCampo}}</td>
                    <td class="text-secondary text-right">
                      <a class="btn btn-link" [routerLink]="" (click)="openConfirmacao(content, item.id)">
                        <i class="fa fa-trash-alt"></i> Remover
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</form>


<ng-template #contentEntidadeCampo>
  <div class="modal-header">
    <h4 class="modal-title">Pesquisa de materiais</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div *ngIf="errors.length" class="alert alert-danger">
      <div *ngFor="let error of errors" class="row">
        <div class="col-12 text-left">
          {{error.message}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-xl-4 col-sm-12 col-form-label text-left">
        Nome do material:
      </label>
      <div class="col-xl-7 col-sm-12">
        <input type="text" class="form-control has-error" [(ngModel)]="material.descricao">
      </div>
      <div class="col-xl-1 col-sm-12">
        <button [routerLink]="" class="btn btn-primary float-right" (click)="buscaMaterial()">
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin text-left">
            <i class="fa fa-spinner"></i>
          </i>
          <i *ngIf="!loading" class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="form-group row">
      
    </div>

    <div class="form-group row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>                      
              <th>Código</th>
              <th>Descrição do material</th>
              <th>Unidade</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of allItemsPesquisaMaterial let index=index; let odd='odd'; let even='even';">
            <tr class="text-left" [ngClass]="{ odd: odd, even: even }">
              <td class="text-secondary">
                <div class="custom-control custom-radio float-left">
                  <input type="radio" (change)="selecionaMaterial(item)" class="custom-control-input" id="{{ item.id }}"
                    name="radio-item">
                  <label class="custom-control-label" for="{{ item.id }}">&nbsp;</label>
                </div>
              </td>           
              <td class="text-secondary">{{item.codigo}}</td>              
              <td class="text-secondary">{{item.descricao}}</td>              
              <td class="text-secondary">{{item.nomeUnidadeMaterial}}</td>              
            </tr>
          </tbody>

          <tbody *ngIf="!allItemsPesquisaMaterial || allItemsPesquisaMaterial.length==0">
            <tr class="text-left">
              <td colspan="99" class="text-secondary">
                <i>Não há resultados...</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mb-2">
      <div *ngIf="pager.pages && pager.pages.length" class="text text-secondary col-md-12 pr-0 mx-auto">
        <i>
          Exibindo
          {{pager.currentPage === pager.totalPages?allMedicamentosDim.length:pager.currentPage*pagedItems.length}}
          de
          {{allMedicamentosDim.length}}
          resultado(s).
        </i>
      </div>
    </div>

    <div class="row">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination mx-auto">
        <li class="page-item" [ngClass]="{'disabled':pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">
            <i class="fas fa-angle-double-left"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled':pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">
            <i class="fas fa-angle-left"></i>
          </a>
        </li>
        <li>
          <select (change)="loadQuantityPerPage($event)" class="custom-select d-block w-100"
            style="border: 1px solid #dee2e6">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
        </li>
        <li class="page-item" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">
            <i class="fas fa-angle-right"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="form-group row text-right">
      <div class="col-12">
        <button class="btn btn-primary  mr-2" type="button" [disabled]="disableMaterialButton()"
          (click)="salvaMedicamento()">
          <i class="fa fa-plus-circle"></i> Adicionar
        </button>

        <button class="btn btn-default" (click)="close()" type="button">
          <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Remover registro</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">        
      <p>Deseja realmente remover este registro?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="removeEntidadeCampo()">Remover</button>
      <button type="button" class="btn btn-outline-dark" (click)="close()">Cancelar</button>
  </div>
</ng-template>