<app-loader [loading]="loading"></app-loader>


<!-- Botão adicionar agendamento -->
<div class="row" style="margin: 2%;">
    <button class="btn btn-success" (click)="openModalAgendamento()">
        <i class="fas fa-plus"></i> Adicionar Agendamento
    </button>
</div>
<p *ngIf="mensagem?.length" class="alert alert-info">{{mensagem}}</p>

<!-- Agenda -->
<div class="card">
    <div>
        <h3 style="align-items: center;">Agenda
            <hr>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Anterior
            </div>
        </div>

        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn" mwlCalendarToday [(viewDate)]="viewDate">
                    <h3>
                        {{ viewDate | calendarDate:(view + 'ViewTitle') :'pt-BR' }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Próximo
            </div>
        </div>
    </div>

    <div>
        <mwl-calendar-month-view *ngIf="view == 'month'" 
            [viewDate]="viewDate" [events]="events" 
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
             (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" 
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
    </div>
</div>

<!-- Adicionar agendamento -->
<ng-template #modalAdicionarAgendamento let-close="close">
    <form [formGroup]="form">
        <div class="modal-header">
            <h4 class="modal-title">Adicionar agendamento</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <!-- consulta paciente -->
                <div class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">Pesquisar paciente
                        <span class="text-danger font-weight-bold">*</span>
                    </label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" disabled="true" class="has-error" style="width: 89%;"
                                formControlName="nomePaciente">
                            <div class="input-group-append">
                                <button class="btn btn-primary ml-3 rounded" type="button"
                                    (click)="openModalLocalizarPaciente(contentClient)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                     <!-- tipo atendimento -->
                <div *ngIf="form.get('idPaciente').value" class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Tipo de atendimento <span class="text-danger font-weight-bold"> *</span>
                    </label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="tipoAtendimento">
                            <option [value]="null">Selecione...</option>
                            <option *ngFor="let item of tipoAtendimento" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>
               
                <!-- data -->
                <div *ngIf="form.get('tipoAtendimento').value" class="row">
                    <div style="text-align: left;" class="col-sm-3 itemAgendamento">
                        <label class="col-sm-12 p-0">Data/Horários
                            <span class="text-danger font-weight-bold">*</span>
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <label class="col-sm-2 text-left p-0">Início
                                <span class="text-danger font-weight-bold">*</span>
                            </label>
                            <div class="col-sm-4 p-0">
                                <input type="datetime-local" formControlName="dataInicial" [min]="dataAtual"
                                    (blur)="focoCampoData('dataInicial')" class="w-100">
                            </div>
                            <label class="col-sm-2 p-0">Fim
                                <span class="text-danger font-weight-bold">*</span>
                            </label>
                            <div class="col-sm-4 p-0">
                                <input formControlName="dataFinal" type="datetime-local" [min]="dataSelecionada"
                                    (blur)="focoCampoData('dataFinal')" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>

                

                <!-- forma de atendimento -->
                <div *ngIf="form.get('dataInicial').value && form.get('dataFinal').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Atendimento <span class="text-danger font-weight-bold"> *</span>
                    </label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="formaAtendimento" disabled>
                            <option [value]="null">Selecione...</option>
                            <!-- Iterando sobre as opções em this.formaAtendimento -->
                            <option *ngFor="let item of formaAtendimento" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>

                 <!-- Especialidade -->
                <div *ngIf="!mensagemErro && form.get('dataInicial').value && form.get('dataFinal').value && 
                            form.get('tipoAtendimento').value == 1" class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Especialidade <span class="text-danger font-weight-bold"> *</span>
                    </label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="especialidade">
                            <option [value]="null">Selecione...</option>
                            <!-- Iterando sobre as opções em this.formaAtendimento -->
                            <option *ngFor="let item of listaEspecialidade" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>
               
                <!-- Equipe de atendimento -->
                <div *ngIf="!mensagemErro && form.get('dataInicial').value && form.get('dataFinal').value &&
                             form.get('tipoAtendimento').value == 2 && form.get('tipoAtendimento').value && 
                             form.get('dataInicial').value && form.get('dataFinal').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">Equipe de atendimento</label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="idEquipe">
                            <option [value]="null">Selecione...</option>
                            <option *ngFor="let item of listaEquipe" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>
                <!-- Profissional -->
                <div *ngIf="!mensagemErro && form.get('dataInicial').value && form.get('dataFinal').value &&
                             form.get('tipoAtendimento').value == 1 && form.get('tipoAtendimento').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">Profissional</label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="idProfissional">
                            <option [value]="null">Selecione...</option>
                            <option *ngFor="let item of listaProfissional" [value]="item.id">{{item.nome}}</option>
                        </select>
                    </div>
                </div>
                <!-- comenatario -->
                <div *ngIf="!mensagemErro && form.get('idProfissional').value || form.get('idEquipe').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-sm-12 col-form-label text-left">
                        Comentários: <span class="text-danger font-weight-bold">*</span>
                    </label>
                    <div class="col-xl-9 col-sm-12">
                        <textarea rows="4" class="form-control has-error" formControlName="observacao"></textarea>
                    </div>
                </div>
                <div *ngIf="mensagemErro">
                    <p class="alert alert-info">{{mensagemErro}}</p>
                </div>
                <div *ngFor="let alert of msgAlert">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-primary ml-3 rounded" type="button" (click)="salvar()"
                    [disabled]="form.invalid || mensagemErro">Salvar</button>
            </div>
        </div>
    </form>

</ng-template>

<!-- Editar agendamento -->
<ng-template #modalEditarAgendamento let-close="close">
    <form [formGroup]="form">
        <div class="modal-header">
            <h4 class="modal-title">Editar agendamento</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <!-- consulta paciente -->
                <div class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Pesquisar paciente <span class="text-danger font-weight-bold">*</span>
                    </label>
                        <div class="col-xl-9">
                            <input type="text" class="form-control" formControlName="nomePaciente" disabled>
                        </div>
                </div>
                <!-- Especialidade -->
                <div *ngIf="form.get('idPaciente').value  && form.get('tipoAtendimento').value == 1" class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Especialidade <span class="text-danger font-weight-bold">*</span>
                    </label>
                    <div class="col-xl-9">
                        <input class="form-control" formControlName="especialidade" disabled>
                        <!-- Adicionei a classe "form-control" para estilizar o input -->
                    </div>
                </div>
                
                <!-- data -->
                <div *ngIf="form.get('especialidade').value || form.get('tipoAtendimento').value == 2" class="row">
                    <div style="text-align: left;" class="col-sm-3 itemAgendamento">
                        <label class="col-sm-12 p-0">Data/Horários
                            <span class="text-danger font-weight-bold">*</span>
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <label class="col-sm-2 text-left p-0">Início
                                <span class="text-danger font-weight-bold">*</span>
                            </label>
                            <div class="col-sm-4 p-0">
                                <input type="datetime-local" formControlName="dataInicial" [min]="dataAtual"
                                    (blur)="focoCampoData('dataInicial')" class="w-100" >
                            </div>
                            <label class="col-sm-2 p-0">Fim
                                <span class="text-danger font-weight-bold">*</span>
                            </label>
                            <div class="col-sm-4 p-0">
                                <input formControlName="dataFinal" type="datetime-local" [min]="dataSelecionada"
                                    (blur)="focoCampoData('dataFinal')" class="w-100" >
                            </div>
                        </div>
                    </div>
                </div>

                <!-- forma de atendimento -->
                <div *ngIf="form.get('dataInicial').value && form.get('dataFinal').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Atendimento <span class="text-danger font-weight-bold"> *</span>
                    </label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="formaAtendimento" disabled>

                            <!-- Iterando sobre as opções em this.formaAtendimento -->
                            <option *ngFor="let item of formaAtendimento" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>
                <!-- tipo atendimento -->
                <div *ngIf=" form.get('dataFinal').value" class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">
                        Tipo de atendimento <span class="text-danger font-weight-bold"> *</span>
                    </label>
                    <div class="col-xl-9">
                        <select class="custom-select d-block w-100" formControlName="tipoAtendimento" disabled>
                            <option *ngFor="let item of tipoAtendimento" [value]="item.id">{{ item.nome }}</option>
                        </select>
                    </div>
                </div>
                <!-- Equipe de atendimento -->
                <div *ngIf="dadosAgendamento.nomeEquipe" class="row itemAgendamento">
                    <label class="col-xl-3 col-form-label text-left">Equipe de atendimento</label>
                    <div class="col-xl-9">
                        <input class="form-control" formControlName="idEquipe" [value]="dadosAgendamento.nomeEquipe" readonly disabled>
                    </div>
                </div>
                
                <!-- Profissional -->
                <div *ngIf="form.get('tipoAtendimento').value == 1 && form.get('tipoAtendimento').value"
                class="row itemAgendamento">
                <label class="col-xl-3 col-form-label text-left">Profissional</label>
                <div class="col-xl-9">
                    <input class="form-control" formControlName="idProfissional" [value]="dadosAgendamento.profissionalNome" disabled>
                </div>
            </div>
            
                <!-- comenatario -->
                <div *ngIf="form.get('idProfissional').value || form.get('idEquipe').value"
                    class="row itemAgendamento">
                    <label class="col-xl-3 col-sm-12 col-form-label text-left">
                        Comentários: <span class="text-danger font-weight-bold">*</span>
                    </label>
                    <div class="col-xl-9 col-sm-12">
                        <textarea rows="4" class="form-control has-error" formControlName="observacao"></textarea>
                    </div>
                </div>
                <div *ngIf="mensagemErro">
                    <p class="alert alert-info">{{mensagemErro}}</p>
                </div>
                <div *ngFor="let alert of msgAlert">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button *ngIf="!(form.invalid || this.dataAtual > this.form.get('dataInicial').value)" class="btn btn-primary ml-3 rounded" type="button" (click)="salvar()">Salvar</button>
            </div>
            
        </div>
    </form>

</ng-template>


<!-- Consulta agendamento -->
<ng-template #modalInfoAgendamento let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Agendamento</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="align-items: center;">
            <i style="font-size: 25px;" class="col-xl-2" class="fas fa-user"></i>
            <div style="text-align: left; " class="col-xl-10">
                <label style="margin-bottom: 0;">
                    Pacientes
                </label>
                <h5>{{dadosAgendamento?.pacienteNome}}</h5>
            </div>
        </div>

        <div *ngIf="dadosAgendamento?.profissionalNome" class="row" style="align-items: center;">
            <i style="font-size: 25px;" class="col-xl-2" class="fas fa-user-md"></i>
            <div style="text-align: left; " class="col-xl-10">
                <label style="margin-bottom: 0;">
                    Profissional
                </label>
                <h5>{{dadosAgendamento?.profissionalNome}}</h5>
            </div>
        </div>

        <div *ngIf="dadosAgendamento?.nomeEquipe" class="row" style="align-items: center;">
            <i style="font-size: 25px;" class="col-xl-2" class="fas fa-users"></i>
            <div style="text-align: left; " class="col-xl-10">
                <label style="margin-bottom: 0;">
                    Equipe
                </label>
                <h5>{{dadosAgendamento?.nomeEquipe}}</h5>
            </div>
        </div>

        <div class="row" style="align-items: center;">
            <i style="font-size: 25px;" class="col-xl-2" class="fas fa-calendar-alt"></i>
            <div style="text-align: left; " class="col-xl-10">
                <label style="margin-bottom: 0;">
                    Início Atendimento
                </label>
                <h5>{{formatarDataHora(dadosAgendamento?.dataInicial).data + ' ás ' +
                    formatarDataHora(dadosAgendamento?.dataInicial).hora + ' Horas'}}</h5>

            </div>
        </div>
        <div class="row" style="align-items: center;">
            <i style="font-size: 25px;" class="col-xl-2" class="fas fa-calendar-alt"></i>
            <div style="text-align: left; " class="col-xl-10">
                <label style="margin-bottom: 0;">
                    Fim do Atendimento
                </label>
                <h5>{{formatarDataHora(dadosAgendamento?.dataFinal).data + ' ás ' +
                    formatarDataHora(dadosAgendamento?.dataFinal).hora + ' Horas'}}</h5>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div style=" font-size: 25px;">
            <i style="margin: 10px;" class="fas fa-edit" (click)="editar()"></i>
            <i style="margin: 10px;" class="fas fa-trash-alt" (click)="excluir()"></i>
            <i style="margin: 10px;" class="fas fa-times" (click)="close()"></i>
        </div>
    </div>
</ng-template>

<!-- Consulta Paciente -->
<ng-template #contentClient>
    <div class="modal-header">
        <h4 class="modal-title">Localizar paciente</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModalLocalizarPaciente()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div *ngIf="errors.length" class="alert alert-danger">
            <div *ngFor="let error of errors" class="row">
                <div class="col-12 text-left">
                    {{error.message}}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xl-4 col-sm-12 col-form-label text-left">
                Cartao SUS:
            </label>
            <div class="col-xl-8 col-sm-12">
                <input type="text" mask="9999999999999999999999" class="form-control has-error"
                    [(ngModel)]="paciente.cartaoSus" autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-xl-4 col-sm-12 col-form-label text-left">
                Nome do paciente:
            </label>
            <div class="col-xl-8 col-sm-12">
                <input type="text" class="form-control has-error" [(ngModel)]="paciente.nome">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <button [routerLink]="" class="btn btn-primary float-right" [disabled]="togglePaciente()"
                    (click)="buscaPaciente()">
                    <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin text-left">
                        <i class="fa fa-spinner"></i>
                    </i>
                    <i *ngIf="!loading" class="fas fa-search"></i>
                </button>

                <a [routerLink]="" (click)="clear()" class="btn btn-default text-secondary mr-2 float-right"
                    style="border: 1px solid #d1d1d1 ">
                    <i class="fas fa-eraser"></i>
                </a>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let field of fields;" class="text-left">{{field.label}}</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of allItems let index=index; let odd='odd'; let even='even';">
                        <tr class="text-left" [ngClass]="{ odd: odd, even: even }">

                            <td class="text-secondary">
                                <div class="custom-control custom-radio float-left">
                                    <input type="radio" (change)="selecionaPaciente(item)" class="custom-control-input"
                                        id="{{ item.id }}" name="radio-item">
                                    <label class="custom-control-label" for="{{ item.id }}">&nbsp;</label>
                                </div>
                            </td>
                            <td *ngFor="let field of fields;">
                                <label for="{{ item?.id }}">
                                    {{
                                    field.isDate?(item[field.field] | date :'dd/MM/yyyy') :
                                    field.isDateTime?(item[field.field] | date :'dd/MM/yyyy HH:mm'):
                                    field.translate?(translate(item[field.field], field.translate)):
                                    field.decimalMask?(toCurrency(item[field.field] |
                                    currency:'R$':true:'1.2-2',field.decimalMask)):
                                    field.docMask?(maskDocument(item[field.field])):
                                    item[field.field]
                                    }}
                                </label>
                            </td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="!allItems || allItems.length==0">
                        <tr class="text-left" class="even">
                            <td colspan="99" class="text-secondary">
                                <i>Não há resultados...</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-2">
            <div *ngIf="pager.pages && pager?.pages.length" class="text text-secondary col-md-12 pr-0 mx-auto">
                <i>
                    Exibindo
                    {{pager.currentPage === pager.totalPages?allItems.length:pager.currentPage*pagedItems.length}}
                    de
                    {{allItems.length}}
                    resultado(s).
                </i>
            </div>
        </div>

        <div class="row">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination mx-auto">
                <li class="page-item" [ngClass]="{'disabled':pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item" [ngClass]="{'disabled':pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
                <li>
                    <select (change)="loadQuantityPerPage($event)" class="custom-select d-block w-100"
                        style="border: 1px solid #dee2e6">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                    </select>
                </li>
                <li class="page-item" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item" [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-group row text-right">
            <div class="col-12">
                <button class="btn btn-primary  mr-2" type="button" [disabled]="pacienteSelecionado==null"
                    (click)="confirmaPaciente()">
                    <i class="fa fa-plus-circle"></i> Carregar seleção
                </button>

                <button class="btn btn-default" (click)="closeModalLocalizarPaciente()" type="button">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</ng-template>