<h4 class="mb-5 text-left">{{id!=null?'Editar '+label:'Adicionar '+label}}</h4>

<p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<p *ngIf="warning.length" class="alert alert-danger">{{warning}}</p>


<form [formGroup]="usuarioForm" (submit)="cadastrar($event)">

    <input type="hidden" name="id" formControlName="id" [(ngModel)]="usuario.id" class="form-control has-error">

    <div *ngIf="domains.length>0" class="form-group row">
        <label for="idTipoUsuario" class="col-sm-2 col-form-label text-left">
            Grupo de usuário<span class="text-danger font-weight-bold"> *</span>
        </label>
        <div class="col-sm-10">
            <select name="idTipoUsuario" formControlName="idTipoUsuario" [(ngModel)]="usuario.idTipoUsuario"
                class="custom-select d-block w-100">
                <option value="0">Selecione...</option>
                <option *ngFor="let tipo of domains[0]['idTipoUsuario']" value="{{tipo.id}}">{{tipo.nome}}</option>
            </select>
        </div>
    </div>




    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label text-left">
            Nome<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="nome" formControlName="nome" [(ngModel)]="usuario.nome"
                class="form-control has-error">
        </div>
    </div>


    <div class="form-group row">
        <label for="cpf" class="col-sm-2 col-form-label text-left">
            CPF<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="cpf" formControlName="cpf" [(ngModel)]="usuario.cpf" class="form-control has-error"
                mask="000.000.000-00" placeholder="999.999.999-99">
        </div>
    </div>




    <div class="form-group row">
        <label for="nomeMae" class="col-sm-2 col-form-label text-left">
            Nome da mãe<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="nomeMae" formControlName="nomeMae" [(ngModel)]="usuario.nomeMae"
                class="form-control has-error">
        </div>
    </div>



    <div class="form-group row">
        <label for="dataNascimento" class="col-sm-2 col-form-label text-left">
            Data de nascimento<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="dataNascimento" formControlName="dataNascimento"
                [(ngModel)]="usuario.dataNascimento" class="form-control has-error" placeholder="DD/MM/AAAA"
                mask="99/99/9999">
        </div>
    </div>


    <div *ngIf="domains.length>0" class="form-group row">
        <label for="sexo" class="col-sm-2 col-form-label text-left">
            Sexo<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <select name="sexo" formControlName="sexo" [(ngModel)]="usuario.sexo" class="custom-select d-block w-100">
                <option value="0">Selecione...</option>
                <option *ngFor="let s of domains[0]['sexo']" value="{{s.id}}">{{s.nome}}</option>
            </select>
        </div>

    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label text-left">
            Email<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="email" formControlName="email" [(ngModel)]="usuario.email"
                class="form-control has-error">
        </div>
    </div>

    <div *ngIf="!id">

        <div class="form-group row">
            <label for="senha" class="col-sm-2 col-form-label text-left">
                Senha<span class="text-danger font-weight-bold"> *</span>
            </label>

            <div class="col-sm-10">
                <input type="password" name="senha" formControlName="senha" [(ngModel)]="usuario.senha"
                    class="form-control has-error">
            </div>
        </div>


        <div class="form-group row">
            <label for="confirmaSenha" class="col-sm-2 col-form-label text-left">
                Confirmar senha<span class="text-danger font-weight-bold"> *</span>
            </label>

            <div class="col-sm-10">
                <input type="password" name="confirmaSenha" formControlName="confirmaSenha"
                    [(ngModel)]="usuario.confirmaSenha" class="form-control has-error">
            </div>
        </div>

    </div>


    <div class="form-group row">
        <label for="celular" class="col-sm-2 col-form-label text-left">
            Celular<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <input type="text" name="celular" formControlName="celular" [(ngModel)]="usuario.celular"
                class="form-control has-error" placeholder="(99) 99999-9999" mask="(00) 00000-0000">
        </div>
    </div>
    <div class="form-group row " *ngIf="usuario.idTipoUsuario < 3">
        <label for="celular" class="col-sm-2 col-form-label text-left">
            Estabelecimentos
        </label>
        <div class="col-sm-10">
            <ng-multiselect-dropdown *ngIf="domains.length" formControlName="estabelecimentos"
                style="border-color: #ced4da; background: #FFF; width: 100%;" [placeholder]="'Selecionar itens'"
                [data]="domains[0]['estabelecimentos']" [(ngModel)]="usuario.estabelecimentos"
                [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
        </div>
    </div>



    <div class="form-group row ">
        <label for="situacao" class="col-sm-2 col-form-label text-left">
            Situação<span class="text-danger font-weight-bold"> *</span>
        </label>

        <div class="col-sm-10">
            <div class="custom-control custom-checkbox" style="width: 25px; margin-top: -10px">
                <input type="checkbox" id="situacao" name="situacao" [(ngModel)]="usuario.situacao"
                    formControlName="situacao" class="custom-control-input">
                <label class="custom-control-label" for="situacao"></label>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <button [routerLink]="['/usuarios']" class="btn btn-default mr-2">
            <i class="fa fa-arrow-left"></i>
            Retornar
        </button>
        <button class="btn btn-primary" type="submit" [disabled]="usuarioForm.invalid">
            <i class="fa fa-plus-circle"></i>
            Adicionar
        </button>
    </div>


</form>