<div *ngIf="!id">
  <img height="70%" src="assets/imgs/user2-160x160.jpg" />
</div>

<div *ngIf="id">
  <ngx-avatar [size]="size" [src]="pathFiles + id"></ngx-avatar>
</div>

<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title center" id="modal-basic-title">Editar foto</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-file-upload [formatsAllowed]="'.jpg,.png,.jpeg,.bmp,.pdf'"
        (changeFiles)="fileChangeEvent($event)"></app-file-upload>
      <div *ngFor="let item of images">
        <image-cropper [imageChangedEvent]="item.event" [maintainAspectRatio]="true" [roundCropper]="true"
          [aspectRatio]="1 / 1" format="jpeg" (imageCropped)="imageCropped(item, $event)">
        </image-cropper>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveCropper()">
        Salvar
      </button>
    </div>
  </ng-template>
</div>
<br />

<button *ngIf="!readOnly" type="button" class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Alterar foto
</button>