.nav .nav-tabs .nav-link{
    padding: 20px 20px 10px 20px !important;
}

.checkBox{
    width: 25px;
    height: 25px;
    border: none;
}
::ng-deep .modal-gg .modal-dialog{
    max-width: 1200px;
    min-width: 1200px;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
.timeline .timeline-badge {
    float: left;
    position: relative;
    margin-right: 30px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
}


.timeline {
    position: relative;
    overflow: hidden;
  }
  .timeline::before {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, .12);
  }
  .timeline .timeline-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
  }
  .timeline .timeline-badge {
    float: left;
    position: relative;
    margin-right: 30px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
  }
  .timeline .timeline-badge img {
    max-width: 100%;
  }
  .timeline .timeline-badge .icon-badge {
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
  .timeline .timeline-body-top {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 17px;
    color: #00929c;
  }
  .timeline .timeline-body {
    float: right;
    width: calc(100% - 78px);
  }
  .timeline .timeline-body-content img {
    border-radius: 4px;
    max-width: 100%;
  }
  .timeline .timeline-body-content > :last-child {
    margin-bottom: 8px;
  }