<h4 class="mb-5 text-left">{{ !readonly ? 'Adicionar atribuição de caneta' : 'Consultar atribuições'}}</h4>

<ng-template #customLoadingTemplate>
    <div style="position: fixed; z-index:9999; width: 100%; top: 50%; left: 20px">
        <i class="fa fa-circle-o-notch fa-spin">
            <img class="image" src="assets/imgs/favicon.png" alt="" width="60">
        </i>
    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}" [template]="customLoadingTemplate"></ngx-loading>


<p *ngIf="message.length" class="alert alert-info">{{message}}</p>
<div *ngIf="errors.length" class="alert alert-danger">
    <div *ngFor="let error of errors" class="row">
        <div class="col-12 text-left">
            {{error.message}}
        </div>
    </div>
</div>

<form [formGroup]="form">    
    <div class="form-group row">
        <label class="col-xl-2 col-form-label text-left">
            Profissional<span class="text-danger font-weight-bold"> *</span>
        </label>
        <div class="col-xl-10">
            <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idProfissional" formControlName="idProfissional" 
                 (change)="findHistoricoAtribuicoesPorProfissional()">
                <option [value]="null">Selecione...</option>
                <option *ngFor="let domain of domains[0]['idProfissional']" value="{{domain.id}}">{{domain.nome}}
                </option>
            </select>
        </div>
    </div>
    
    <div class="form-group row" *ngIf="object.idProfissional>0">
        <label class="col-xl-2 col-form-label text-left">
            Data de atribuição<span class="text-danger font-weight-bold"> *</span>
        </label>
        <div class="col-xl-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text btn">
                        <i class="fa fa-calendar-alt"></i>
                    </div>
                </div>
                <input type="text" formControlName="dataAtribuicao" placeholder="dd/mm/aaaa" bsDatepicker 
                    [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}" class="form-control" autocomplete="off"
                    (change)="carregarCanetasDisponiveis()">
            </div>
        </div>    
        <div class="col-xl-2">
            Horário inicial<span class="text-danger font-weight-bold"> *</span>
        </div>
        <div class="col-xl-2">
            <input type="text" class="form-control has-error" formControlName="horarioInicial"  mask="99:99" placeholder="99:99"
            (change)="carregarCanetasDisponiveis()"/>
        </div>
        <div class="col-xl-2">
            Horário final<span class="text-danger font-weight-bold"> *</span>
        </div>
        <div class="col-xl-2">
            <input type="text" class="form-control has-error" formControlName="horarioFinal" mask="99:99" placeholder="99:99"
            (change)="carregarCanetasDisponiveis()" />
        </div>

       

    </div>
    
    <div class="form-group row" *ngIf="object.idProfissional>0">
        <label class="col-xl-2 col-form-label text-left">
            Canetas <span class="text-danger font-weight-bold"> *</span>
        </label>
        <div class="col-xl-10">
            <select *ngIf="domains" class="custom-select d-block w-100" [(ngModel)]="object.idCaneta" formControlName="idCaneta"
                [disabled]="object.horarioFinal==null || object.horarioFinal=='null'">
                <option [value]="null">Selecione...</option>
                <option *ngFor="let item of domains[0].idCaneta" [value]="item.id" [disabled]="item.disabled" >{{item.nome}}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group text-right"  *ngIf="object.idProfissional>0">

        <button class="btn btn-primary " type="button" (click)="saveAtribuicao()">
          <i class="fa fa-save"></i> Atribuir
        </button>
    
        <button class="btn btn-danger" type="button" [disabled]="form.invalid" (click)="clear()">
          <i class="fa fa-save"></i> Cancelar
        </button>

      </div>
</form>



<div class="card mb-4"  *ngIf="object.idProfissional>0">
    <div class="card-header text-left">
        Atribuições do profissional
    </div>
    <div class="card-body text-left">
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Caneta</th>                      
                      <th>Período inicial</th>
                      <th>Período final</th>
                      <th>Situação</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-left">
                      <td colspan="99" class="text-secondary"  *ngIf="!historicoAtribuicoes.length">
                        <i>Não há resultados...</i>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="historicoAtribuicoes.length">
                      <tr class="text-left" *ngFor="let item of historicoAtribuicoes">
                        <td class="text-secondary">{{item.id}}</td>
                        <td class="text-secondary">{{item.nome}}</td>
                        <td class="text-secondary">{{item.periodoInicial}}</td>
                        <td class="text-secondary">{{item.periodoFinal}}</td>
                        <td class="text-secondary">{{item.situacao}}</td>
                        <td class="text-secondary text-right">
                          <a   class="btn btn-link" [routerLink]="" (click)="removeAtribuicao(item)">
                            <i class="fa fa-trash-alt"></i> Remover
                          </a>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
        </div>
    </div>
</div>


